@model string
@using LogicLayer.DbLayer
@{
    Func<List<pm_speaker>> getExpositores = delegate()
    {
        List<pm_speaker> lista = null;
        
        using(AcessDb acceso = AcessDb.GetInstance())
        {
            lista = acceso.getSpeakers(null, Model);
        }
        if(lista == null)
        {
            lista = new List<pm_speaker>();
        }
        return lista;
    };    
}
<table>
    <thead>
        <tr>
            <th>Seleccionar</th>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    @foreach(var item in getExpositores())
    {
        <tr>
            <td>
            <input type="button" class="select" data-id="@item.uid" value="Seleccionar"/>
            </td>
            <td>
                @item.uid
            </td>
            <td>
                @item.firstName @item.lastName
            </td>
          </tr>
    }   
</table>
           
